@import '../../../assets/sass/base';

.wishlist-courses {
  margin-top: $header-height;
  font-size: 1.6rem;
  text-align: center;

  &__title {
    @include h-style('h2');
    @media (max-width: 1200px) {
      font-size: 3.2rem;
    }
    @media (max-width: 768px) {
      font-size: 2.4rem;
    }
    @media (max-width: 576px) {
      font-size: 1.8rem;
    }
    margin-bottom: 2.5rem;
  }

  
}
